


:host {
    display:block;
    height: 100%;
}


@container tile-container (max-height: 400px){
    apx-chart {
        ::ng-deep {
            .apexcharts-legend {
                max-height: 30px !important;
            }
        }
    }
}

@container tile-container (max-height: 800px) and (min-height: 401px) {
    apx-chart {
        ::ng-deep {
            .apexcharts-legend {
                max-height: 100px !important;
            }
        }
    }
}

@container tile-container (width > 0) {  
    mat-progress-spinner {
        height: 30% !important;
        width: auto !important;
        aspect-ratio: 1 / 1;
    }

    apx-chart {
        display: block;
        height: 100% !important;
    }

}

apx-chart {
    display: block;
    height: 700px;
}