<div mat-dialog-title class="d-flex justify-content-between align-items-start">
	<h2>How to choose your MTU volume</h2>
	<button mat-icon-button class="close-icon" (click)="onNoClick()">
        <mat-icon>close</mat-icon>
    </button>
</div>
<mat-dialog-content>
	<h4 class="mt-20">Monthly Tracked Users (MTUs)</h4>
	<ul>
		<li>How it works: You pay based on the number of Monthly Tracked Users (MTUs). One MTU is a user who triggers at
			least one Datopus’s event per month.

		</li>
		<li>
			Exceeding your selected MTUs DOES NOT incur any fines or fees, but you will be charged for extra MTUs in an
			additional invoice.
		</li>

	</ul>
	<h4>Choosing the right amount on the pricing slider</h4>

	<ul>
		<li>Evaluate your needs: Estimate your Monthly Tracked Users (MTUs) to select an amount that aligns with your
			expected volume.


		</li>
		<li>
			Consider your growth: Choose an amount that fits your current needs and accommodates future growth.
		</li>

	</ul>
</mat-dialog-content>