<ng-container [ngSwitch]="layout">
    <ng-container *ngSwitchCase="'page'">
        <div class="card-border-radius" >
            <div class="transition d-flex flex-column">
                <router-outlet />
            </div>
        </div>
    </ng-container>
    <ng-container *ngSwitchCase="'default'">
        <div *ngIf="session" class="card-border-radius">
            <app-sidebar data-ds-feature="Sidenav"></app-sidebar>
            <div #mainContent class="main-content transition d-flex flex-column">
                <app-header (headerSizeChange)="updateContentPadding($event)"  data-ds-feature="Header"></app-header>
                <router-outlet></router-outlet>
            </div>
        </div>
    </ng-container>
</ng-container>