<div class="wrapper">
    <h4 class="text-center" style="padding: 0 1vw">
        Which mode would you like to explore first?
    </h4>
    <div>
        <mat-card data-ds-feature="Pane.B2B" style="width: 50%" class="daxa-card pricing-card mb-25 border-radius p-0 bg-white border-none">
            <mat-card-header>
                <mat-card-title>
                    <h5 class="mb-0">
                        Dashboard for B2B organizations
                    </h5>
                    <span class="d-block">
                        Example of integration with an e-commerce platform
                    </span>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div style="min-height: 350px">
                    This solution assists organizations in examining their products and features, and in providing customers with direct access to their personal data through a user-friendly dashboard.
                    <br />
                    <button mat-button data-ds-feature="Pane.B2B.CTA.Signin" (click)="signIn(0)">
                        Get Started Now
                    </button>
                    <br />
                    Suitable for
                    <ul>
                        <li>No-Code App Builder (ClickUp)</li>
                        <li>E-commerce Platform (Shopify)</li>
                        <li>Learning Management System (Talentlms)</li>
                        <li>Email Marketing Platfrom (Mailchimp)</li>
                        <li>Project Management Platform (Asana)</li>
                        <li>etc.</li>
                    </ul>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card data-ds-feature="Pane.B2C" style="width: 50%" class="daxa-card pricing-card mb-25 border-radius p-0 bg-white border-none">
            <mat-card-header>
                <mat-card-title>
                    <h5 class="mb-0">
                        Dashboard for B2C organizations
                    </h5>
                    <span class="d-block">
                        Example of integration with an online-store
                    </span>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div style="min-height: 350px">
                    This solution helps organizations analyze their product and features.
                    <br /><br />
                    <button mat-button data-ds-feature="Pane.B2C.CTA.Signin" (click)="signIn(1)">
                        Get Started Now
                    </button>
                    <br />
                    Suitable for
                    <ul>
                        <li>Online-store</li>
                        <li>Mobile App</li>
                        <li>Browser Extension</li>
                        <li>etc.</li>
                    </ul>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <h5 style="padding: 0 1vw; margin-top: 15px">
        We`ll show common analyses for a sample dataset. You can switch mode by logging off.
    </h5>
</div>