<mat-card data-ds-feature="Dashboard.Tile.Users" class="daxa-card dashboard-card mb-25 pb-0 border-radius bg-white border-none d-block">
    <mat-card-header>
        <mat-card-title>
            <h5 class="mb-0">
                Dashboard Users
            </h5>
        </mat-card-title>
        <mat-card-subtitle>
            Last 7 Days
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="dashboard-table">
            <div class="table-responsive">
                <table mat-table matSort matSortActive="signins" matSortDirection="desc" matSortDisableClear="true" [dataSource]="dataSource">

                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Email
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.email}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="signins">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Sign-ins
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.signins}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Last Activity
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.date}}
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="['email', 'signins', 'date']; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: ['email', 'signins', 'date'];"></tr>

                </table>
            </div>
        </div>
        <div class="links">
            &nbsp;
        </div>
    </mat-card-content>
</mat-card>