.btn {
    &.mat-mdc-button {
        border: 0;
        width: 100%;
        height: auto;
        display: block;
        min-width: auto;
        min-height: auto;
        padding: 10px 30px;
        font-weight: normal;
        color: var(--whiteColor);
        background-color: var(--daxaColor);

        &[disabled] {
            background-color: #eff3f9;
        }
    }
}

.code-card {
    .mat-mdc-button {
        padding: 0px 5px;
        height: auto;
        min-width: auto;
        margin-left: 10px;
        display: inline-block;
        transition: var(--transition);

        &:first-child {
            margin-left: 0px;
        }

        &:hover {
            color: var(--daxaColor) !important;
        }

        ::ng-deep span.mdc-button__label {
            display: inline-flex;
            padding-top: 5px;
        }
    }
}

.confirm-area {
    overflow-x: hidden;

    padding: {
        top: 30px;
        bottom: 30px;
    }
}

.d-form {
    max-width: 930px;
    padding: 100px;

    .title {
        margin-bottom: 25px;

        h3 {
            margin-bottom: 5px;
        }
    }

    .admin {
        margin-bottom: 30px;

        .logo {
            width: 200px;
            height: 200px;
            background-color: #f4f6fc;

            margin: {
                left: auto;
                right: auto;
            }

            i {
                left: 0;
                right: 0;
                top: 50%;
                font-size: 55px;
                position: absolute;
                transform: translateY(-50%);
            }
        }

        span {
            font-size: 18px;
            margin-top: 20px;
        }
    }

    .btn {
        &.mat-mdc-button {
            border: 0;
            width: 100%;
            height: auto;
            display: block;
            min-width: auto;
            min-height: auto;
            padding: 10px 30px;
            text-align: center;
            font-weight: normal;
            color: var(--whiteColor);
            background-color: var(--daxaColor);

            &[disabled] {
                background-color: #eff3f9;
            }
        }
    }

    &.card-borderd-theme {
        box-shadow: var(--borderBoxShadow) !important;
    }

    &.component-dark-theme {
        .admin {
            .logo {
                background-color: #28333f;
            }
        }
    }
}

.empty-properties-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    background-color: white;
    text-align: center;

    .card-content {
        width: 100%;
    }

    .warning-icon {
        font-size: 56px;
        height: 56px;
        width: 56px;
        color: var(--warningImportantColor);
        margin-bottom: 16px;
    }

    .card-title {
        color: var(--blackColor);
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 40px;
        text-align: center;
    }

    .card-text {
        color: #555;
        font-size: 16px;
        max-width: 420px;
        text-align: left;
        margin-bottom: 8px;
    }

    .card-list {
        color: #666;
        font-size: 16px;
        max-width: 420px;
        padding-left: 20px;
        text-align: left;
        margin-bottom: 12px;
    }

    .card-link {
        color: var(--daxaColor);
        text-decoration: none;
    }

    .button-container {
        display: flex;
        justify-content: center;
        gap: 12px;
        margin-top: 50px;

        .primary-button {
            padding: 8px 16px;
            font-size: 16px;
            background-color: var(--daxaColor);
            color: white;
            border-radius: 6px;
            border: none;
            cursor: pointer;
        }

        .secondary-button {
            padding: 8px 16px;
            font-size: 16px;
            color: var(--daxaColor);
            border: 1px solid var(--daxaColor);
            border-radius: 6px;
            cursor: pointer;
            background: white;
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .confirm-area {
        padding: {
            left: 12.5px;
            right: 12.5px;
        }
    }

    .d-form {
        max-width: 100%;
        padding: 35px 15px;

        .title {
            margin-bottom: 20px;
        }

        .admin {
            margin-bottom: 25px;

            .logo {
                width: 150px;
                height: 150px;
            }

            span {
                font-size: 16px;
                margin-top: 15px;
            }
        }

        .btn {
            &.mat-mdc-button {
                padding: 14px 30px;
            }
        }
    }
}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {

    .d-form {
        max-width: 540px;
    }
}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .confirm-area {
        padding: {
            left: 12.5px;
            right: 12.5px;
        }
    }

    .d-form {
        max-width: 720px;
        padding: 70px;

        .title {
            margin-bottom: 20px;
        }
    }
}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .d-form {
        padding: 90px;
    }
}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {

    .d-form {
        padding: 100px 130px;
    }
}